<div class="container d-flex my-5">
		<div class="float-left my-5 col-md-7">
				<img width="100%" src="<%= image_url 'register-explorer.jpg' %>" />
		</div>
		<div class="form-group emp-form deep-blue my-auto rounded col-md-5 float-right">
				<div class="inner-form col-md-9 mx-auto my-5">
						<h2 class="text-center">Sign in</h2>
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<%= render "devise/shared/error_messages", resource: resource %>
						<div class="field">
								<%#= <%= f.label :email %>
								<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-12", placeholder: "Email"%>
						</div>
						<div class="field ">
								<%#= <%= f.label :password %>
								<% if @minimum_password_length %>
								<!--<%#=<em>(<%= @minimum_password_length %> characters minimum)</em> #%> -->
								<% end %>
								<%= f.password_field :password, autocomplete: "current-password", class: "col-md-12", placeholder: "Password " %>
						</div>
						<div class="actions text-center">
								<% if devise_mapping.rememberable? %>
								<div class="field">
										<%= f.check_box :remember_me %>
										<%= f.label :remember_me %>
								</div>
								<% end %>
								<%= f.submit "Log in", class: "emp-submit" %>
						</div>
						<% end %>
						<%#=<%= render "employers/shared/links" %>
				</div>
		</div>
</div>