<div class="header border-bottom employers-dashboard">

		<h4 class="py-5 d-inline ">Here's the list of all interested applicants for the role!</h4>




			<p id="notice"><%= notice %></p>

	</div>

<main class="applicants-main">
	<div class="container ">


  <% @profiles.each_slice(3) do |applicant| %>
    <div class="card-row d-flex justify-content-around py-5">
      <% applicant.each do |card| %>
     <div class="card float-left justify-content-around" style="width: 22rem;">
          <div class="row my-4 px-4">
          <img class="applicant-photo" src =" <%= card.photo_url %>"/>
          </div>
          <div class="card-body">

            <h5 class="applicant-name text-center" ><%= card.name %></h5>
            <p class="text-center"><span class="mail-icon mr-1"><img width="30px" src="<%= image_url 'mail.png' %>" /></span> <%= card.explorer.email%></p>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
</main>