<h1>New Listing</h1>

<%= form_with scope: :listing, url: listings_path, local: true do |form| %>

	<p>
		<%= form.label :job_title %><br>
		<%= form.text_field :job_title, placeholder: "Ex. Interior Designer" %>
	</p>

	<p>
		<%= form.label :duration %><br>
		<%= form.text_field :duration, placeholder:"Ex. 4 months" %>
	</p>

	<p>
		<%= form.label :location %><br>
		<%= form.text_area :location, placeholder:"List Location" %>
	</p>

	<p>
		<%= form.label :photo_url %><br>
		<%= form.text_area :photo_url, placeholder:"Add image to your job post" %>
	</p>

	<p> Work Type and Environment </p>
		<%= form.collection_check_boxes :environment_ids, @environments, :id, :choice do |cb| %>
    <label class="checkbox-inline">
        <%= cb.check_box %>
        <%= cb.label %>
    </label>
<% end %>

	<p>
		<%= form.label :description %><br>
		<%= form.text_area :description, placeholder: "Specify job description that will appear in the Job Post. Describe the perfect candidate for the role and what the candidate would be doing" %>
	</p>

	<p> Which personality type candidate you prefer to find for this role? </p>
		<%= form.collection_check_boxes :trait_ids, @traits, :id, :personality do |cb| %>
    <label class="checkbox-inline">
        <%= cb.check_box %>
        <%= cb.label %>
    </label>
<% end %>


	<p>
		<%= form.submit %>
	</p>

<% end %>