<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name %>" id="notice">
					<%= msg %>
				</div>
			<% end %>
<%= image_tag @listing.photo_url, class: "single_post_img"%>
<div class="container single-p-container">
	<h3 class="pb-3">
		<%= @listing.job_title %>
	</h3>
	<h6>
		<span class="icon-duration mr-2"><img width="15px" src="<%= image_url 'duration-icon.png' %>" /></span><strong>Duration:</strong>
		<%= @listing.duration %>
	</h6>
	<h6  class="pb-3">
		<span class="icon-duration mr-2 "><img width="15px" src="<%= image_url 'location-icon.png' %>" /></span><strong>Location:</strong>
		<%= @listing.location %>
	</h6>
	<p>
		<strong class="bold-description">What you’ll be doing</strong><br/>
		<%= @listing.description %>
	</p>
		<%= link_to 'Back To Dashboard', listings_path %> |
		<% if current_employer%>
		<% if current_employer.id == @matchListing %>
		<%= link_to 'Edit Listing', edit_listing_path %> |
		<%= link_to 'Remove Listing', listing_path,
				method: :delete,
				data: { confirm: 'Are you sure?' } %> |
				<br/>
		<%end%>
	<% if @checkListing.exists?%>
			<% @profiles.each_slice(4) do |applicant| %>
				<div class="card-row d-flex justify-content-around py-5">
					<% applicant.each do |card| %>
					<div class="card float-left justify-content-around" style="width: 16rem;">
						<div class="row my-4 px-4">
						<img class="applicant-photo-sm" src =" <%= card.photo_url %>"/>
						</div>
							<div class="card-body mini-card">
							<h5 class="applicant-name text-center" ><%= card.name %></h5>

							<p class=" appl-mail text-center"><span class="mail-icon mr-1"><img width="30px" src="<%= image_url 'mail.png' %>" /></span> <%= auto_link(card.explorer.email)%></p>
							<button class="d-block px-3 py-1 text-white rounded form-gradient mx-auto"><a class="text-white" href="/link/<%=@listing.id%>/<%=card.id%>">Connect</a></button>
							</div>
						</div>
					<% end %>
					</div>
				<% end %>
				</div>
			<% end %>
		<br/>
		<%end%>

		<% if current_explorer %>
			<% if @queryStatus.exists?%>
				<div class="status d-block connection float-right gradient-background">
            		<p> Employer has indicated interest!</p>
				</div>
			<% else %>
				<a href="/interest/<%=@listing.id%>/<%=@explorers_profile.id%>">Register Interest</a>
            <%end%>
		<% end %>
</div>

<script>
	// console.log("HIIIIII")
	setTimeout(function() {
		$( "#notice" ).fadeOut( "slow" );
	}, 2000);
</script>