<%= image_tag @listing.photo_url, class: "single_post_img"%>
<div class="container single-p-container">
		<h3 class="pb-3">
				<%= @listing.job_title %>
		</h3>
		<h6>
				<span class="icon-duration mr-2"><img width="15px" src="<%= image_url 'duration-icon.png' %>" /></span><strong>Duration:</strong>
				<%= @listing.duration %>
		</h6>
		<h6  class="pb-3">
				<span class="icon-duration mr-2 "><img width="15px" src="<%= image_url 'location-icon.png' %>" /></span><strong>Location:</strong>
				<%= @listing.location %>
		</h6>
		<p>
				<strong>What you’ll be doing</strong><br/>
				<%= @listing.description %>
		</p>
		<%= link_to 'Back To Dashboard', listings_path %> |
		 <%= link_to 'Edit Listing', edit_listing_path %> |
		   <%= link_to 'Remove Listing', listing_path,
				method: :delete,
				data: { confirm: 'Are you sure?' } %> |
		<% if current_employer%>
		<%= link_to 'See Applicants', "/connect/#{current_employer.id}" %>
		<% end %>


		<br/>
		<% if current_explorer %>
		<a href="/interest/<%=@listing.id%>/<%=@explorers_profile.id%>">Register Interest</a>
		<% end %>
</div>