<p id="notice"><%= notice %></p>

<%#---------------------------------------- %>

<div class="container ">
	<h3>Hello <%= @employers_profile.company_name %>!</h3>
<%= link_to 'Edit', edit_employers_profile_path(@employers_profile) %> |
<%= link_to 'Back', employers_profiles_path %>
		<% @listing.each_slice(3) do |listing| %>
		<div class="card-row d-flex justify-content-around my-5">
				<% listing.each do |card| %>
				<div class="card float-left justify-content-around" style="width: 22rem;">
						<div class="row my-4 px-4">
								<div class="col-md-5  float-left">
										<img src="<%= card.photo_url %>" class="card-img-top listing-small-img" style="width: 120px; height:100px;" alt="..." />
								</div>
								<div class="col-md-7 py-2 float-right">
										<p class="card-text com-md-7 listing-small-duration px-3"><span class="icon-duration mr-2"><img width="15px" src="<%= image_url 'duration-icon.png' %>" /></span>
												<%= card.duration %>
										</p>
										<p class="card-text com-md-7 listing-small-location px-3"><span class="icon-duration mr-2 "><img width="15px" src="<%= image_url 'location-icon.png' %>" /></span>
												<%= card.location%>
										</p>
								</div>
						</div>
						<div class="card-body">
								<h5 class="card-title">
										<%= card.job_title %>
								</h5>
								<p class="listing-small-description">
										<%= card.description %>
								</p>
						</div>
						<div class="card-body">
								<a class="card-link">
										<%= link_to 'Show',listing_path(card) %></a>
								<a class="card-link">
										<%= link_to 'Edit', edit_listing_path(card) %></a>
								<a class="card-link">
										<%= link_to 'Destroy', listing_path(card),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></a>
						</div>
				</div>
				<%end%>
		</div>
		<%end%>
</div>