
 <%#---<%= link_to "Advanced Search", new_search_path %>

	<div class=" header border-bottom pt-5 employers-dashboard listing-search-dashboard">

	<h5 class="py-1 d-inline">Advanced Search Results:</h5>
<h6 class="py-1 d-inline float-right">
		<%= link_to 'Back', listings_path, class: 'text-white' %>
<h6>
<% if @search.search_listings.empty? %>
<p>No Records Found</p>
<% else %>
</div>



<main class="applicants-main vh pt-5">
		<div class="container">
		<% @search.search_listings.each_slice(3) do |outer| %>
		<div class="card-row d-flex justify-content-around py-5">
				<% outer.each do |inner| %>
				<div class="card float-left justify-content-around" style="width: 22rem;">
						<%#---	<%= link_to 'Show',listing_path(card) %>
						<div class="row my-4 px-4">
								<div class="col-md-5  float-left">
										<img src="<%= inner.photo_url %>" class="card-img-top listing-small-img" style="width: 120px; height:100px;" alt="..." />
								</div>
								<div class="col-md-7 py-2 float-right">
										<p class="card-text com-md-7 listing-small-duration px-3"><span class="icon-duration mr-2"><img width="15px" src="<%= image_url 'duration-icon.png' %>" /></span>
												<%= inner.duration %>
										</p>
										<p class="card-text com-md-7 listing-small-location px-3"><span class="icon-duration mr-2 "><img width="15px" src="<%= image_url 'location-icon.png' %>" /></span>
												<%= inner.location%>
										</p>
								</div>
						</div>
						<div class="card-body">
								<a href="/listings/<%= inner.id%>">
										<h5 class="card-title">
												<%= inner.job_title %>
										</h5>
								</a>
								<p class="listing-small-description">
										<%= inner.description.first(80) %>
								</p>
						</div>
				</div>
				<% end %>
		</div>
		<% end %>
</div>
<% end %>
</main>