<h1>Editing Explorers Profile</h1>

<%= form_with scope: :explorers_profile, model: @explorers_profile, local: true do |form| %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :photo %><br>
		<%= form.text_field :photo_url %>
	</p>


	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to 'Show', @explorers_profile %> |
<%= link_to 'Back', explorers_profiles_path %>