<p id="notice"><%= notice %></p>
<h1> HELLO EXPLORER PROFILE </h1>
<% @somethingelse.each do |listing| %>
  <p><%= listing.job_title%></p>
<<<<<<< HEAD
<% end %>
=======
  <p><%= listing.duration%></p>
<%end%>
>>>>>>> 96673b1cafe76658d57e2c87ccba86de380e5bf3
<%= link_to 'Edit', edit_explorers_profile_path(@explorers_profile) %> |
<%= link_to 'Back', explorers_profiles_path %>