<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" data-turbolinks-eval=false>
      console.log("I'm only run once on the initial page load");
    </script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body style="margin: 0;">
    <% if current_employer %>
      <nav class="navbar navbar-expand-lg navbar-white border-bottom">
        <a id= "branding" class="navbar-brand  blue-text" href="/"><strong>Career Clinic</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <div class="row navbar-nav">
            <% if @employers_profile.employer_id %>
              <a class="nav-item nav-link" href="/listings">Homepage</a>
              <a class="nav-item nav-link" href="/listings/new">Post a job</a>
              <a class="nav-item nav-link purple-text nav-profile active" href="<%= employers_profile_path(@employers_profile)%>"><%= @employers_profile.company_name%></a>
            <% end %>
            <a class="nav-item  nav-link"><%= link_to 'Sign out', destroy_employer_session_path, method: :delete, class: "sign-out" %></a>
          </div>
        </div>
      </nav>
    <% elsif current_explorer %>
      <nav class="navbar navbar-expand-lg navbar-white border-bottom">
        <a class="navbar-brand blue-text" href="/"><strong>Career Clinic</strong><!-- <img class="brand logo" src="<%= image_url 'logo.png' %>" /> --></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <div class="row navbar-nav">
            <a class="nav-item nav-link" href="/listings">Explore Roles</a>
            <% if @explorers_profile.explorer_id%>
              <span class="float-right ">
                <%= form_tag listings_path, :method => 'get' do %>
                  <%= text_field_tag :search,  params[:search], placeholder: "Search" %>
                  <!-- 	<%= submit_tag "Search" %> -->
                <% end %>
              </span>
              <a class="nav-item nav-link blue-text nav-profile active" href="<%=explorers_profile_path(@explorers_profile)%>"><%= @explorers_profile.name%></a>
            <% end %>
            <a class="nav-item nav-link"> <%= link_to 'Sign out', destroy_explorer_session_path, method: :delete, class: "sign-out"  %></a>
          </div>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar-white border-bottom">
        <a class="navbar-brand blue-text" href="/"><strong>Career Clinic</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <div class="row navbar-nav">
            <a class="nav-item nav-link active" href="/listings">Explore Roles</a>
            <%-# <% if user_signed_in? %>
            <%-# <% end %>
            <a class="nav-item nav-login-exp purple purple-text nav-link" href="/explorers/sign_in">Login Explorer </a>
            <a class="nav-item nav-login-emp blue text-blue nav-link" href="/employers/sign_in">Login Employer </a>
          </div>
        </div>
      </nav>
    <% end %>
    <div class="jumbotron">
      <%= yield %>
    </div>
  </body>
</html>